<%= render layout: "shared/form_group", locals: { f: f, field: :date_of_occurrence } do %>
  <p class="form-hint">For example: 2013 03 20</p>
  <%= f.label :name, 'Year' %>
  <%= f.text_field :date_of_occurrence_dateyear, class: 'form-date', type:"number", pattern:"[0-9]*", min:"0", max:"3000", placeholder: '2013' %>
  <%= f.label :name, 'Month' %>
  <%= f.text_field :date_of_occurrence_datemonth, class: 'form-date', type: "number", pattern: "[0-9]*", min: "0", max: "12", placeholder: '03' %>
  <%= f.label :name, 'Day' %>
  <%= f.text_field :date_of_occurrence_dateday, class: "form-date", type: "number", patter: "[0-9]*", min:"0", max:"31", placeholder: '20' %>
<% end %>
<%= render layout: "shared/form_group", locals: { f: f, field: :aircraft_type } do %>
  <%= f.text_field :aircraft_type, class: 'form-control' %>
<% end %>
<%= render layout: "shared/form_group", locals: { f: f, field: :registration } do %>
  <%= f.text_field :registration, class: 'form-control' %>
<% end %>
<%= render layout: "shared/form_group", locals: { f: f, field: :location } do %>
  <%= f.text_field :location, class: 'form-control' %>
<% end %>
<%= render layout: "shared/form_group", locals: { f: f, field: :aircraft_category } do %>
  <%= f.select :aircraft_category,
      f.object.facet_options(:aircraft_category),
      {},
      {
        class: 'select2 form-control',
        multiple: true,
        data: {
          placeholder: 'Select an Aircraft category'
        }
      }
  %>
<% end %>
<%= render layout: "shared/form_group", locals: { f: f, field: :report_type } do %>
  <%= f.select :report_type,
      f.object.facet_options(:report_type),
      {},
      {
        class: 'form-control'
      }
  %>
<% end %>
